COMPOSE_PROJECT_NAME=onepractice

API_IMAGE=registry.example.com/onepractice-go:latest
API_PORT=8080
DOCKER_NETWORK=1panel-network

MYSQL_DSN='user:password@tcp(mysql.example.com:3306)/onepractice?charset=utf8mb4&parseTime=True&loc=Local'

REDIS_ADDR=redis.example.com:6379
REDIS_USERNAME=default
REDIS_PASSWORD=password
REDIS_DB=0
REDIS_DISABLED=false

SA_TOKEN_NAME=token
SA_TOKEN_TIMEOUT=1296000

SENDFLARE_DISABLED=true
SENDFLARE_API_KEY=
SENDFLARE_FROM=
